{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'forms_style.css' %}">
    <link rel="icon" href = "{% static 'icon.png' %}" type = "image/x-icon">
    <title>Agregar incidente</title>
</head>

<body>
    
    <div class="container">
        <form method="POST">
            <div class="title"><h1>Formulario para añadir un incidente</h1></div>
            <table>
                {{form}}
            </table>
            <br>
            <button type="submit">AGREGAR</button>
            {% csrf_token %}
        </form>
        <br>
        <a href="http://127.0.0.1:8000"><button id="return">RETURN</button></a>
    </div>
    

</body>

</html>