{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'detalle_style.css' %}">
    <link rel="icon" href = "{% static 'icon.png' %}" type = "image/x-icon">
    <title>Detalle {{incidente.id}}</title>
</head>
<body>
    
    <h1>Detalles del incidente {{incidente.id}}</h1>
    <div><b>Nombre de la persona que reporto:</b> {{incidente.reporto_persona}}</div>
    <div><b>Fecha del suceso:</b> {{incidente.fecha}}</div>
    <div><b>Descripcion del suceso:</b> {{incidente.descripcion}}</div>
    <div><b>Acciones tomadas:</b> 
        <ol id="content_list">
                            
            {% for accion in lista_acciones %}
                <li>
                    {{accion.descripcion}} ||
                    {{accion.date_time}}
                    <a href="editar_accion_{{accion.id}}/"><button>EDITAR</button></a>
                    <a href="borrar_accion_{{accion.id}}/"><button id="borrar">BORRAR</button></a>
                </li>  
            {% endfor %}
                           
        </ol>
    
    </div>
    <div>
        <b>Estatus:</b> 
        {% if incidente.estatus == True %}
            Resuelto
        {% else %}
            No resuelto
        {% endif %}
        
    </div>

    <br>
    <a href="agregar_acciones/"><button>AGREGAR ACCIÓN</button></a>
    <a href="http://127.0.0.1:8000"><button id="return">RETURN</button></a>
    
</body>
</html>